body {
	padding-top: 70px;
	cursor: default;
	background: #eee;
	font-weight: 300; /* support for material design */
}

/* custom bootstrap */
.navbar {
	border-radius: 0;
}
#player-progressbar {
	transition: all 0.2s;
}
#quest-progressbar {
	transition: all 0s;
}
.modal-backdrop.in {
	opacity: 0;
}