@font-face { font-family: Roboto-Thin; src: url(../fonts/Roboto-Thin.ttf); }
@font-face { font-family: Roboto-Regular; src: url(../fonts/Roboto-Regular.ttf); }
@font-face { font-family: Roboto-Light; src: url(../fonts/Roboto-Light.ttf); }
body { margin: 0; font-family: 'Roboto-Light'; background: #666; }

.navbar { margin-bottom: 0; border-radius: 0; border: 0; border-bottom: 1px solid black; opacity: 0.75; transition: all 0.2s; }
.navbar:hover { opacity: 1; transition: all 0.2s; }
.navbar-brand { font-family: 'Roboto-Regular'; color: #fff !important; }
.carousel-inner { max-width: 1950px; max-height: 740px; opacity: 0.75; }
.carousel-inner.alt1 { max-height: 500px; max-width: 750px; }
.jumbotron { text-align: center; opacity: 0.8; background: #D7D7D7; }
.well { margin-top: 20px; border: 0; background: url(img/l2.jpg); opacity: 0.8; }
.well.alt1 { background: url(img/l3.jpg); }