@font-face { font-family: "Roboto-Regular"; font-weight: 400; src: url('../fonts/Roboto-Regular.ttf'); }
@font-face { font-family: "Roboto-Light"; font-weight: 300; src: url('../fonts/Roboto-Light.ttf'); }
@font-face { font-family: "Roboto-Thin"; font-weight: 100; src: url('../fonts/Roboto-Thin.ttf'); }
@media (min-width:768px) { .game-container { width: 750px; } }
@media (min-width:992px) { .game-container { width: 970px; } }
@media (min-width:1200px) { .game-container { width: 1170px; } }

* { -webkit-font-smoothing: antialiased; text-shadow: none; text-rendering: optimizeLegibility; }
body { margin: 0; padding: 0; cursor: default; font-family: "Roboto-Regular"; background: #eee; }
header { margin-bottom: 20px; padding: 0 100px; top: 0; height: 70px; width: 100%; border-bottom: 1px solid #222227; background: #3e3d48;
	color: #eee; box-shadow: 1px 3px 6px #aaa; }
small { font-size: 50%; }
ul { margin: 0; padding: 0; list-style: none; }
ul>li { margin-right: 10px; float: left; padding: 10px 10px; }
ul>li>a { transition: all .2s; display: block; color: #333; font-size: 1.3em; }
ul>li>a:hover { transition: all .2s; text-decoration: none; color: #111; }

.col-header { height: 70px; }
.header-title { margin: 0; font-size: 2.5em; line-height: 70px; }
.header-stats { margin: 0; font-size: 1.75em; line-height: 70px; text-align: right; }

.game-container, .loading-container { padding-right: 5px; padding-left: 5px; margin-right: auto; margin-left: auto; }
.tab-container { border: 1px solid #222227; border-radius: 4px; box-shadow: 1px 1px 4px #aaa; }
.main-tab { width: 100%; height: 100%; background: inherit; }

.main-btn { transition: all .2s; padding: 5px 0px; margin-bottom: 20px; border: 1px solid #222227; border-radius: 2px; background: #3e3d48;
	color: #eee; cursor: pointer; font-size: 1.1em; text-align: center; box-shadow: 1px 3px 6px #aaa; }
.main-btn:hover { transition: all .2s; background: #636173; }
.main-btn:active { transition: all .2s; box-shadow: 1px 1px 4px #aaa; }
.main-btn.active { background: #636173; }

.progress { height: 15px; }
.progress-bar { line-height: 15px; transition: none; -webkit-transition: none; -o-transition: none;  }

.row.tabs { margin: 0; height: 50%; }

.prod-time>h5, .business-time>h5 { margin-top: 5px; margin-bottom: 5px; }
.prod-time, .business-time { transition: all .2s; margin-bottom: 5px; width: 100%; background: #3e3d48; border: 1px solid #222227;
	border-radius: 4px; color: #eee; box-shadow: 1px 3px 6px #aaa; }
.prod-time:hover, .business-time:hover { transition: all .2s; background: #636173; }

.prod-stats>h5, .business-stats>h5 { margin-top: 5px; margin-bottom: 5px; }
.prod-stats { margin-bottom: 5px; }
.prod-stats, .business-stats { transition: all .2s; width: 100%; background: #3e3d48; border: 1px solid #222227; border-radius: 4px;
	color: #eee; box-shadow: 1px 3px 6px #aaa; cursor: pointer; }
.prod-stats:hover, .business-stats:hover { transition: all .2s; background: #636173; }
.prod-stats:active, .business-stats:active { transition: all .2s; box-shadow: 1px 1px 4px #aaa; }

.prod-ressources>h5 { margin-top: 5px; margin-bottom: 5px; }
.prod-ressources { width: 100%; background: #636173; border: 1px solid #222227; border-radius: 4px;
	color: #eee; box-shadow: 1px 3px 6px #aaa; }

.upgrade { transition: all .2s; margin-bottom: 5px; width: 100%; background: #3e3d48; border: 1px solid #222227; border-radius: 4px;
	color: #eee; box-shadow: 1px 3px 6px #aaa; cursor: pointer; }
.upgrade:hover { transition: all .2s; background: #636173; }
.upgrade:active { transition: all .2s; box-shadow: 1px 1px 4px #aaa; }
.upgrade.bought { background: #8F8D9B; }

.noselect { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none;
	-ms-user-select: none; user-select: none; }
.spacer { height: 25px; margin-bottom: 20px; }