::-webkit-scrollbar { width: 7px; }
::-webkit-scrollbar-thumb { background: #bbb; }

body {
	background: #eee;
	cursor: default;
}

.white {
	color: #fff !important;
}

.navbar {
	border-radius: 0px;
}