<div class="hero">
  <div class="hero-header container">
    <h1>H.G.M.</h1>
    <p>Grâce à l’expérience de ses fondateurs dans différentes industries, H.G.M. propose des solutions pour l’agro-alimentaire dans le domaine verrier, pharmaceutique ou cosmétique. Avec ou sans cahier des charges, H.G.M accompagne ses clients du projet à la fourniture clé en main.</p>
    <div class="row">
      <div class="container">
        <div class="col-md-offset-2 col-md-2">
          <button class="button button-effect-1 button-border-thin">Contact</button>
        </div>
        <div class="col-md-offset-4 col-md-2">
          <button class="button button-effect-1 button-border-thin">News</button>
        </div>
      </div>
    </div>
    <div id="hero-carousel" class="container hero-carousel-container">
      <div class="video-wrapper black">
        <div class="video-dots">
          <span class="video-dot video-dot-left video-dot-grey"></span>
          <span class="video-dot video-dot-left video-dot-grey"></span>
          <span class="video-dot video-dot-left video-dot-grey"></span>
        </div>
        <div class="video-carousel">
          <img id="hero-img-1" src="src/img/slider/SERVICE_1_VERRE_CREUX.JPG">
          <img id="hero-img-2" src="src/img/slider/SERVICE_2_CONTROLE.JPG" style="display: none;">
          <img id="hero-img-3" src="src/img/slider/SERVICE_3_MACHINES_SPE.JPG" style="display: none;">
          <img id="hero-img-4" src="src/img/slider/SERVICE_4_CONVOYAGE.JPG" style="display: none;">
          <img id="hero-img-5" src="src/img/slider/1412x916_CONTROLE_01.jpg" style="display: none;">
          <img id="hero-img-6" src="src/img/slider/1412x916_CONVOYEUR_01.jpg" style="display: none;">
          <img id="hero-img-7" src="src/img/slider/1412x916_COURROIES.jpg" style="display: none;">
          <img id="hero-img-8" src="src/img/slider/1412x916_DHG.jpg" style="display: none;">
          <img id="hero-img-9" src="src/img/slider/1412x916_EV.jpg" style="display: none;">
          <img id="hero-img-10" src="src/img/slider/1412x916_LIGNE_01.jpg" style="display: none;">
          <img id="hero-img-11" src="src/img/slider/1412x916_TABLE_01.jpg" style="display: none;">
          <img id="hero-img-12" src="src/img/slider/1412x916_VIS_01.jpg" style="display: none;">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h1 class="text-center"><img class="content-img" src="src/img/slider/SERVICE_1.1_VERRE_CREUX.jpg"></h1>
        <div class="content-small-line"></div>
        <h4 class="content-presentation-header text-center">VERRE CREUX</h4>
        <p class="content-presentation-text">Fourniture pièces et de retrofit de machines existantes. Réalisation d’équipements variables et de machines complètes.</p>
      </div>
      <div class="col-md-3">
        <h1 class="text-center"><img src="src/img/slider/SERVICE_2_CONTROLE.JPG" class="content-img"></h1>
        <div class="content-small-line"></div>
        <h4 class="content-presentation-header text-center">CONTRÔLE VISION</h4>
        <p class="content-presentation-text">Intégration de solutions de vision pour l’étiquetage, le bouchonnage et autres contrôles sur lignes de conditionnement.</p>
      </div>
      <div class="col-md-3">
        <h1 class="text-center"><img src="src/img/slider/SERVICE_3.1_MACHINES_SPE.jpg" class="content-img"></h1>
        <div class="content-small-line"></div>
        <h4 class="content-presentation-header text-center">MACHINES SPECIALES</h4>
        <p class="content-presentation-text">Systèmes de pivotement, répartition, regroupement et manipulation pour lignes de conditionnement.</p>
      </div>
      <div class="col-md-3">
        <h1 class="text-center"><img src="src/img/slider/SERVICE_4.1_CONVOYAGE.jpg" class="content-img"></h1>
        <div class="content-small-line"></div>
        <h4 class="content-presentation-header text-center">CONVOYAGE</h4>
        <p class="content-presentation-text">Etudes, réalisation, intégration et modification de convoyeur à structure aluminium.</p>
      </div>
    </div>
  </div>
</div>
<div class="other-content">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h2 class="text-center video-text">Présentation H.G.M.</h2>
        <!--<h5 class="text-center video-text-small"></h5>-->
        <div class="video-wrapper">
          <div class="video-dots">
            <span class="video-dot video-dot-red"></span>
            <span class="video-dot video-dot-orange"></span>
            <span class="video-dot video-dot-green"></span>
          </div>
          <div class="video-iframe">
            <iframe src="http://www.youtube.com/embed/WS0u8RPbgbI" frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clients">
  <div class="container">
    <h1 class="clients-text text-center">Nos clients</h1>
    <div class="row">
      <div class="col-md-2 col-xs-12"><img src="src/img/clients/b-w/OI.jpg" class="client-img center-block"></div>
      <div class="col-md-2 col-xs-12"><img src="src/img/clients/b-w/gerresheimer.png" class="client-img center-block"></div>
      <div class="col-md-2 col-xs-12"><img src="src/img/clients/b-w/Derichebourg.png" class="client-img center-block"></div>
      <div class="col-md-2 col-xs-12"><img src="src/img/clients/b-w/cointreau.png" class="client-img center-block"></div>
      <div class="col-md-2 col-xs-12"><img src="src/img/clients/b-w/svr.png" class="client-img center-block"></div>
      <div class="col-md-2 col-xs-12"><img src="src/img/clients/b-w/SGD.jpg" class="client-img center-block"></div>
    </div>
  </div>
</div>

<script>
  hgm.mobile();
</script>