body { background: #eee;  }
img.icon { max-height: 20px; }
img.stats { max-height: 26px; }

.monster-div { width: 100%; padding: 10px; }
.monster-bar-hp { font-size: 12px; }
.monsters-nomonsters { font-size: 16px; }

.adventure-div { width: 100%; padding: 10px; }

.navbar { border-radius: 0; border-bottom: 2px solid #2196f3; }
.navsmall:hover { border-bottom: 3px solid #2196f3; transition: all 0.2s; }
.nav.navbar-nav.navbar-right>li>a>span:hover { border-bottom: 3px solid #2196f3; transition: all 0.2s; }
.progress { margin-bottom: 0; }