/* *************************************
*          Body reset & other
************************************* */
@font-face { font-family: OpenSans; src: url(fonts/OpenSans.ttf); }
@font-face { font-family: Molengo; src: url(fonts/Molengo.ttf); }
body { margin: 0; text-decoration: none; font-family: OpenSans; background: #363636; }
::-moz-selection { background-color: #f1c40f; }
::selection { background-color: #f1c40f; }
/* *************************************
*               Header
************************************* */
.header { width: 100%; height: 70px; font-family: Molengo; border-bottom: 3px solid #0e2944; background: #123456; }
.header h1 { color: white; font-size: 34px; font-weight: 500; text-align: center; text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.40); }
.header p { margin-top: -26px; color: white; font-size: 26px; text-align: center; text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.30); }
.header-cash { position: absolute; width: 250px; height: 60px; top: 0px; color: white; margin-left: 4px; text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.40); font-size: 28px; }
.header-ammo { position: absolute; width: 250px; height: 60px; top: 0px; right: 0px; color: white; margin-top: 8px; margin-right: 4px; text-align: right; text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.40); font-size: 34px; }
/* *************************************
*               Divs
************************************* */
.button-div { position: absolute; top: 45px; width: 30%; height: 85%; border-radius: 4px; border: 2px solid #5e5e5e; margin-top: 36px; background: #a5a5a5; }
.upgrade-div { margin-top: 7.5px; width: 30%; height: 85%; margin-left: 32.5%; border-radius: 4px; border: 2px solid #5e5e5e; background: #a5a5a5; }
.panel-div { position: absolute; top: 45px; width: 35%; height: 85%; right: 0px; border-radius: 4px; border: 2px solid #5e5e5e; margin-top: 36px; background: #a5a5a5; }
.button-div h1, .upgrade-div h1 { font-size: 26px; font-family: Molengo; font-weight: 500; text-align: center; text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.30); }
/* *************************************
*               Buttons
************************************* */
.button-s, .button-r, .button-c, .button-cs { font-family: OpenSans; width: 80%; height: 60px; border: 2px solid rgb(200, 200, 200); border-radius: 4px; margin-left: auto; margin-right: auto; cursor: pointer; background: #fff; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.button-s p, .button-r p, .button-c p, .button-cs p { margin-top: -60px; font-size: 20px; text-align: center; text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.10); }
.button-s small, .button-r small, .button-c small, .button-cs small { margin-top: 14px; font-size: 16px; text-align: center; text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.10); }
/* Upgrades buttons */
.button-up { font-family: OpenSans; width: 80%; height: 60px; border: 2px solid rgb(200, 200, 200); border-radius: 4px; margin-left: auto; margin-right: auto; cursor: pointer; background: #fff; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.button-up p { margin-top: 0px; font-size: 20px; text-align: center; text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.10); }
.button-up small { font-size: 14px; line-height: 15px; text-align: center; text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.10); }
/* Progress bars */
.button-filler-gun { width: 0%; height: 100%; background: #87c540; }
.button-filler-production { width: 0%; height: 100%; background: #9ae6f2; }
.button-filler-skill { width: 0%; height: 100%; background: #f28f00; }
/* *************************************
*               Other
************************************* */
p a { text-decoration: none; color: #ccc; }
li a { text-decoration: none; }
p { font-size: 16px; text-align: center; }