::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.0); border-radius: 2px; }
::-webkit-scrollbar-thumb { border-radius: 2px; -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
@-webkit-keyframes tutorial { 0% {color: #333;} 50% {color: #31708f;} 100% {color: #333;} }

body { margin: 0; font-family: Consolas; cursor: default; background: #fff; }
h1 { margin: 5px 0 5px 0; font-size: 16px; text-align: center; }
h1.a-tutorial { text-decoration: underline; font-weight: bold; -webkit-animation: tutorial 1.0s infinite; animation: tutorial 1.0s infinite; }
h2 { margin: 0 0 5px 0; font-size: 14px; text-align: center; }
p { margin: 5px 0 5px 0; }
p.s-version { text-align: center; font-weight: bold; font-size: 18px; }
p.s-notes { text-align: justify; }
p.s-thanks { text-align: center; }
p.s-rank { text-align: center; font-size: 18px; font-weight: bold; text-decoration: underline; }
p.s-links { text-align: center; font-weight: bold; }
p.s-save { text-align: center; font-weight: bold; }
p.a-guns { margin: 0 0 15px 0; text-align: center; font-size: 16px; font-weight: bold; }
p.a-ammos { text-align: right; font-weight: bold; }
li>a>span { color: #222 !important; }
span.s-options { text-decoration: underline; cursor: pointer; }

#a-n1, #a-n2, #a-d1, #a-d2 { transition: all 0.2s; }

/* custom class */
.center { text-align: center; }
.bold { font-weight: bold; }
.small { font-size: 12px; color: #777 !important; }
.bought { background: #d6e9c6 !important; }
.line { margin: 10px 0 10px 0; width: 90%; margin-left: auto; margin-right: auto; border-bottom: 1px solid #31708f; }

/* custom Bootstrap */
.navbar { background: #eee; border-radius: 0px; border: 0; border-bottom: 1px solid #aaa; }
.navbar-brand { color: #333 !important; }
.nav-tabs.nav-justified>li>a, .nav-tabs.nav-justified>li>a:hover { transition: all 0.2s; }
.panel { background: none; }
.panel-heading { text-align: center; }
.panel-info>.panel-body { background: rgba(217,237,247,0.1); color: #31708f; }
.list-group-item:first-child { border-top-left-radius: 0; border-top-right-radius: 0; border-top: 0; }
.list-group-item-success, .list-group-item-info, .list-group-item-warning, .list-group-item-danger { cursor: default !important; }
.progress { height: 30px; margin-bottom: 0; cursor: pointer; }
.progress-bar { transition: 0; }
.list-group-item { cursor: pointer; transition: all 0.1s; }
.list-group-item:hover { transition: all 0.1s; }
.list-group-item-info { background: rgba(217,237,247,0.1); border: 1px solid #C6DBE5; }
.stats-heading { cursor: default; color: #31708f; background: #d9edf7; border: 1px solid #C6DBE5; }