body {
	padding-top: 80px;
	cursor: default;
	background: #E4E4E4;
	font-weight: 300; /* support for material design */
}

/* bars */
.bars {
	border-top: 1px solid #e7e7e7;
	width: 100%;
	height: 8px;
}
.left-bar {
	width: 50%;
	height: 100%;
	border-right: 1px solid #e7e7e7;
	background: #fff;
}
.left-bar-filler {
	background: #43A047;
	height: 100%;
	width: 0%;
	transition: all 0.2s;
}
.right-bar {
	margin-left: 50%;
	margin-top: -7px;
	width: 50%;
	height: 100%;
	background: #fff;
}
.right-bar-filler {
	background: #039BE5;
	height: 100%;
	width: 0%;
}

/* custom bootstrap */
.navbar {
	border-radius: 0;
}
#player-progressbar {
	transition: all 0.2s;
}
#quest-progressbar {
	transition: all 0s;
}