html { text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; }
body { cursor: default; background: #E7E7E7; font-family: 'OS-R'; }

.main-content { position: absolute; width: 100%; height: 100%; transition: all 0.5s; }

.nav-tabs.nav-justified>li>a { transition: all 0.1s; }

.tab-pane>.well { border-top-left-radius: 0; border-top-right-radius: 0; }
.well { padding: 15px; border: 0; border-radius: 2px; }
.well-log { font-family: 'Consolas'; }
.well-log>p { margin: 0; }

.btn { border: 0; border-color: transparent; transition: all 0.1s; }
.btn:active, .btn.active { box-shadow: none; -webkit-box-shadow: none; }
.btn-primary { background-color: #606078; }
.btn-primary:hover { background-color: #525266; }
.btn-primary:active, .btn-primary.active, .btn-primary:active:hover { background-color: #464657; }
.btn-info { background-color: #3299BB; }
.btn-info:hover { background-color: #2C87A5; }
.btn-info:active, .btn-info.active, .btn-info:active:hover { background-color: #277893; }
.btn-success { background-color: #B1C44A; }
.btn-success:hover { background-color: #9DAE41; }
.btn-success:active, .btn-success.active, .btn-success:active:hover { background-color: #8E9D3A; }
.btn-danger { background-color: #CF522F; }
.btn-danger:hover { background-color: #C65231; }
.btn-danger:active, .btn-danger.active, .btn-danger:active:hover { background-color: #A74428; }

.navbar { border: none; border-radius: 0; }
.navbar-default { background-color: #524656; border: 0; border-bottom: 1px solid #211C23; }
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus { color: #EEEEEE; }

.sidebar { position: absolute; top: 0; left: 0; z-index: 100; visibility: hidden; width: 300px; height: 100%; border-right: 1px solid #211C23; color: #fff; background: #524656; transition: all 0.5s; transform: translate3d(-100%, 0, 0); }
.sidebar-close { cursor: pointer; color: #fff; transition: all 0.2s; }
.sidebar-close:hover { color: #E0E0E0; }
.sidebar-line { margin: 10px 0 25px 0; width: 85%; height: 1px; background: #211C23; margin-right: auto; margin-left: auto; }
.sidebar-infos { position: absolute; bottom: 0; text-align: center; }
.sidebar-element { height: 45px; width: 100%; border-bottom: 1px solid #211C23; cursor: pointer; }
.sidebar-element>h4 { margin: 0; line-height: 45px; }
.sidebar-element:hover { color: #EEEEEE; transition: all 0.2s; }
.sidebar-element-noborder { border-bottom: 0; }

.resources-well>h5 { margin: 0 0 15px 0; }
.resources-display { margin: 0 0 10px 0; }
.resources-display:last-child { margin: 0; }
.resources-line { width: 100%; height: 1px; margin: 15px 0 15px 0; background: #3E2723; }

.orange { color: #FF9800; }

.no-margin { margin: 0; }