@font-face 	{ font-family: Lato-Regular; src: url(src/Lato-Regular.ttf); }
@font-face 	{ font-family: Lato-Light; src: url(src/Lato-Light.ttf); }
@font-face 	{ font-family: Frontage-Outline; src: url(src/Frontage-Outline.otf); }
body 		{ margin: 0; font-family: 'Lato-Regular', sans-serif; background: #ECF0F1; }
