/* Highlight selection */
::selection { color: inherit; background: #ecf0f1; }

/* Header + content */
.header 		{ position: fixed; z-index: 1; width: 100%; height: 70px; border-bottom: 3px solid #22313F; cursor: default; background: #2C3E50; opacity: 1; transition: all 0.2s; }
.margin-content { position: absolute; width: 80%; height: 100%; margin: 0 10% 0 10%; }
.logo-content	{ width: 50%; height: 100%; }
.logo-content>h1 { margin: 0; font-family: 'Frontage-Outline'; font-size: 40px; line-height: 67px; letter-spacing: -3px; color: #fff; cursor: pointer; }
.logo-content>h1>span { border-bottom: 1px solid white; transition: all 0.2s; }
.logo-content>h1>span:hover { border-bottom: 4px solid white; transition: all 0.2s; }
.links-content	{ width: 50%; height: 100%; margin-left: 50%; margin-top: -67px; }
.links-content>p { margin: 0; text-align: right; line-height: 67px; }
.links-content>p>a { margin-left: 10px; color: #fff; font-family: 'Frontage-Outline'; font-size: 20px; line-height: 70px; letter-spacing: -4px; text-decoration: none; cursor: pointer; transition: all 0.2s; }
.links-content>p>a:hover { border-bottom: 3px solid #fff; transition: all 0.2s; }

/* Main + content */
.main-showcase  { position: absolute; width: 100%; height: calc(200% - 70px); top: 70px; background: url(img/p4.jpg) repeat; }
.main-opacity   { width: 100%; height: 100%; opacity: 0.45; background: #fff; font-family: 'Sintony-Bold', sans-serif; }
.main-content	{ position: absolute; width: 100%; height: calc(200% - 70px); top: 70px; }
.main-content>h1 { cursor: default; margin: 15px 0 0 0; text-align: center; font-family: 'Frontage-Outline'; font-size: 60px; font-weight: bold; letter-spacing: -3px; color: #2C3E50; }
.main-content>h1>span { border-bottom: 3px solid #34495E; border-top: 3px solid #34495E; transition: all 0.2s; }
.main-content>h1>span:hover { border-top: 8px solid #34495E; border-bottom: 8px solid #34495E; transition: all 0.2s; }
.main-content>p { cursor: default; padding: 10px; margin: 20px 0 0 0; width: 60%; margin-left: auto; margin-right: auto; font-family: 'Lato-Light'; text-align: justify; font-size: 20px; font-weight: bold; color: #2C3E50; text-shadow: 3px 3px 4px #999; background: rgba(189,195,199,0.5); border-radius: 4px; box-shadow: 4px 4px 8px #333; }

/* Custom Bootstrap */
.carousel { width: 900px; height: 600px; margin-right: auto; margin-left: auto; background: rgba(189,195,199,0.5); border-radius: 4px; box-shadow: 4px 4px 8px #333; }
.carousel>h1 { margin: 0; font-family: 'Frontage-Outline'; font-size: 60px; font-weight: bold; text-align: center; color: #2C3E50; }
.carousel-indicators .active { background: #545454; }
.carousel-indicators li { border: 1px solid #C2C2C2; }

/* Little Bar */
.bar { margin: 50px 0 50px 0; width: 65%; height: 1px; border-bottom: 3px solid #2C3E50; margin-left: auto; margin-right: auto; box-shadow: 4px 4px 8px #333; }