.navbar { border-radius: 0; }

.b-button { margin-right: auto; margin-left: auto; width: 90%; height: 30px; border: 1px solid black; border-radius: 4px; cursor: pointer; }
.b-filler { width: 0%; height: 100%; border-radius: 2px; background: #34495e; }