body { margin: 0; font-family: 'Consolas', sans-serif; }
h1 { margin: 0 0 10px 0; text-align: center; font-size: 32px; }
h2 { margin: 0 0 10px 0; text-decoration: underline; font-size: 22px; }
p { margin: 5px 0 5px 0; font-size: 16px; }

p.b-stats { text-align: center; }
p.b-stats>span.b-name { text-decoration: underline; }
p.b-stats>span.b-reward { font-weight: bold; }
p.b-buy { text-align: center; font-size: 12px; }
p.b-buy>span { cursor: pointer; }
p.s-upgrade { text-align: center; }
p.s-stats { text-align: center;	font-family: 14px; font-weight: bold; text-decoration: underline; }
p.s-saves { font-size: 12px; cursor: pointer; }

.b-button { margin-right: auto; margin-left: auto; width: 80%; height: 30px; border: 1px solid black; border-radius: 4px; cursor: pointer; }
.b-filler { width: 0%; height: 100%; border-radius: 2px; background: #34495e; }