@font-face { font-family: "Roboto-Regular"; font-weight: 400; src: url('../fonts/Roboto-Regular.ttf'); }
@font-face { font-family: "Roboto-Light"; font-weight: 300; src: url('../fonts/Roboto-Light.ttf'); }
@font-face { font-family: "Roboto-Thin"; font-weight: 100; src: url('../fonts/Roboto-Thin.ttf'); }
* { -webkit-font-smoothing: antialiased; text-shadow: none; text-rendering: optimizeLegibility; }
body { margin: 0; padding: 0; cursor: default; font-family: "Roboto-Light"; background: #eee; }
header { margin-bottom: 20px; padding: 0 100px; height: 70px; width: 100%; background: #3949AB; color: #eee; box-shadow: 0px 3px 6px #999; }
small { font-size: 50%; }

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background-color: #fff; }
::-webkit-scrollbar-thumb { background-color: #C8C8C8; }
::-webkit-scrollbar-thumb:hover { background-color: #B0B0B0; }

/* header */
.header-title { margin: 0; font-size: 2.5em; line-height: 70px; }
.header-stats { margin: 0; font-size: 1.75em; line-height: 70px; text-align: right; }

/* base css */
.game-container, .loading-container { padding-right: 5px; padding-left: 5px; margin-right: auto; margin-left: auto; }
.main-tab { width: 100%; height: 100%; background: inherit; color: #eee; }
.row.tabs { margin: 0; }
.well { background: #fff; border: none; border-radius: 0; }

/* buttons */
.main-btn { transition: all .2s; padding: 5px 0px; margin-bottom: 10px; border-radius: 2px; background: #3949AB; color: #eee; cursor: pointer;
	font-size: 1.1em; text-align: center; box-shadow: 1px 3px 6px #aaa; }
.main-btn:hover { transition: all .2s; background: #5C6BC0; }
.main-btn:active { transition: all .2s; box-shadow: 1px 1px 4px #aaa; background: #5C6BC0; }
.main-btn.active { background: #5C6BC0; }

/* progress-bars */
.progress { background-color: #AEAEAE; }
.progress, .progress-bar { height: 25px; line-height: 25px; }
.progress-bar.progress-bar-success { background-color: #4CAF50; }
.progress-bar.progress-bar-info { background-color: #03A9F4; }

/* builds */
.main-tab>.col-md-12>.col-md-3 { color: #333; }
.prod-time>h5, .business-time>h5, .prod-stats>h5, .business-stats>h5 { margin-top: 5px; margin-bottom: 5px; }
.prod-stats { margin-bottom: 5px; }
.prod-time, .business-time { transition: all .2s; padding: 2px 0; margin-bottom: 5px; width: 100%; background: #1976D2; border-radius: 2px; color: #eee; }
.prod-stats, .business-stats { transition: all .2s; width: 100%; padding-top: 3px; padding-bottom: 3px; background: #3F51B5; border-radius: 2px;
	color: #eee; cursor: pointer; }
.prod-stats:hover, .business-stats:hover { transition: all .2s; background: #5C6BC0; }
.prod-stats:active, .business-stats:active { transition: all .2s; box-shadow: 1px 1px 4px #aaa; }
.prod-ressources>h5 { margin-top: 5px; margin-bottom: 5px; }
.prod-ressources { padding: 2px 0; width: 100%; background: #009688; border-radius: 2px; color: #eee; }

/* upgrades and achievements */
.upgrade, .achievement { transition: all .2s; margin-bottom: 5px; width: 100%; background: #3F51B5; border-radius: 2px; cursor: pointer; }
.upgrade:hover, .achievement:hover { transition: all .2s; background: #7986CB; }
.upgrade:active, .achievement:active { transition: all .2s; }
.upgrade.bought, .achievement.bought { background: #7986CB; }

/* helpers */
.noselect { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.notransition { transition: none; -webkit-transition: none; -o-transition: none; }
.noshadow { box-shadow: none; -webkit-box-shadow: none; }
.spacer { height: 25px; margin-bottom: 20px; }