@font-face { font-family: 'Lato-R'; src: url(../fonts/Lato-Regular.ttf); }
@font-face { font-family: 'Lato-L'; src: url(../fonts/Lato-Light.ttf); }
@font-face { font-family: 'OpenSans-R'; src: url(../fonts/OpenSans-Regular.ttf); }
@font-face { font-family: 'OpenSans-L'; src: url(../fonts/OpenSans-Light.ttf); }
@font-face { font-family: 'Raleway-R'; src: url(../fonts/Raleway-Regular.ttf); }
@font-face { font-family: 'Raleway-L'; src: url(../fonts/Raleway-Light.ttf); }
@font-face { font-family: 'Montserrat-R'; src: url(../fonts/Montserrat-Regular.ttf); }