html { -webkit-font-smoothing: antialiased; text-shadow: none; text-rendering: optimizeLegibility; }
body { font-family: 'Lato-R'; cursor: default; color: #333; padding-top: 75px; background-color: #fff; }
iframe { width: 100%; height: 100%; }

.navbar { transition: all .8s; border: none; border-radius: 0; margin-bottom: 0; min-height: 75px; font-family: 'Montserrat-R'; }
.navbar>.container-fluid { padding-right: 50px; padding-left: 50px; min-height: 75px; }

.navbar-brand { transition: all 0.5s; height: 75px; padding: 0 15px 0 15px; line-height: 75px; font-size: 26px; }
.navbar-right, ul.navbar-right>li, ul.navbar-right>li>a { height: 75px; line-height: 50px; }
.navbar-brand>img { float: left; max-height: 50px; margin-top: 12.5px; margin-right: 15px; }

.navbar-toggle { margin-top: 17.5px; }
.navbar-collapse.collapse.in>ul { height: 100%; }

.navbar-inverse { background-color: #2d2d2d; }
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a { color: #DFDFDF; text-transform: uppercase; }
.navbar-inverse .navbar-brand:hover { transition: all 0.5s; text-shadow: 2px 2px 30px #fff; }
.navbar-inverse .navbar-nav > li > a { transition: all 0.2s; font-size: 13px; letter-spacing: 0.5px; }
.navbar-inverse .navbar-nav > li > a:hover { transition: all 0.2s; color: #888 !important; }

.hero { overflow: hidden; height: 780px; width: 100%; padding: 15px 0 0 0; background-color: #2d2d2d; }
.hero-header {margin-left: auto; margin-right: auto; color: #fff; text-align: center; }
.hero-header>h1 { margin: 0 0 10px 0; letter-spacing: 0.2em; font-size: 34px; font-family: 'Montserrat-R'; }
.hero-header>p { margin: 0 auto 10px auto; max-width: 65%; letter-spacing: 0.2px; font-size: 18px; text-align: justify; font-family: 'Lato-L'; }
.hero-carousel { height: 100%; border: 1px solid white; margin-top: 15px; margin-left: auto; margin-right: auto; }
.hero-carousel-container { width: 750px; }

.content { margin: 80px 0 80px 0; background: #fff; }
.content-small-line { width: 40%; height: 2px; margin: 10px auto 10px auto; background: #2d2d2d; }
.content-presentation-header { margin: 20px 0 15px 0; font-family: 'Montserrat-R'; }
.content-presentation-text { font-family: 'Lato-L'; font-size: 16px; text-align: justify; color: #444; letter-spacing: 0.2px; }
.content-img { max-height: 150px; }

.other-content { margin: 80px 0 0 0; padding: 0 0 80px 0; background-color: #F4F4F4; }
.video-wrapper { padding: 15px 0 0 0; border: 3px solid #D1D1D1; background-color: #D1D1D1; border-radius: 4px; }
.video-wrapper.black { border-color: #1B1B1B; background-color: #1B1B1B; }
.video-dots { margin-top: -15px; left: 6px; }
.video-dot { display: block; float: right; margin: 3px 3px; width: 8px; height: 8px; border-radius: 50%; background-color: #626262; }
.video-dot.video-dot-left { float: left; }
.video-iframe, .video-carousel { position: relative; padding: 15px 0 0 0; width: 100%; }
.video-iframe { height: 450px; }
.video-dot-red { background-color: #e52d27; }
.video-dot-orange { background-color: #FF5722; }
.video-dot-green { background-color: #8BC34A; }
.video-dot-grey {background-color: #3E3D3D; }
.video-text { margin: 75px 0 45px 0; font-size: 34px; }
.video-text-small { margin: 0 0 30px 0; font-size: 18px; font-family: 'Lato-L'; }
.video-carousel>img { max-width: 100%; }

.clients { margin: 80px 0 0 0; padding: 0 0 80px 0; background-color: #fff; }
.clients-text { margin: 0 0 20px 0; font-size: 34px; }
.client-img { transition: all 0.2s; cursor: pointer; opacity: 0.7; max-width: 100%; }
.client-img:hover { transition: all 0.2s; opacity: 1;  }

.footer { width: 100%; font-family: 'Lato-R'; color: #fff; background: #2D2D2D; }
.footer>.container-fluid { padding-right: 50px; padding-left: 50px; }
.footer>.container-fluid>h5 { margin: 0; }
.footer-align-text { line-height: 75px; }
.footer-align-icons { line-height: 75px; }
.footer-grey { color: #777; }

.blue-twitter { color: #00aced; }
.blue-facebook { color: #3b5998; }
.blue-skype { color: #12A5F4; }
.red-youtube { color: #e52d27; }
.green-email { color: #8A9B0F; }

.icons-spacer { margin: 0 10px 0 10px; }