.tp { display: inline; position: relative; z-index: 999; }

.tp-item { cursor: pointer; display: inline-block; font-weight: 700; padding: 0 10px; }

.tp-item::after { content: ''; position: absolute; width: 220px; height: 20px; bottom: 100%; left: 50%; pointer-events: none; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.tp:hover .tp-item::after { pointer-events: auto; }

.tp-content { position: absolute; z-index: 9999; width: 220px; left: 50%; margin: 0 0 20px -110px; bottom: 100%; text-align: left; font-size: 0.765em; line-height: 1.4; box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2); background: #333D45; opacity: 0; cursor: default; pointer-events: none; }
.tp-effect-1 .tp-content { -webkit-transform: translate3d(0, -10px, 0); transform: translate3d(0, -10px, 0); -webkit-transition: opacity 0.3s, -webkit-transform 0.3s; transition: opacity 0.3s, transform 0.3s; }
.tp:hover .tp-content { pointer-events: auto; opacity: 1; -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0); transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0); }
.tp-content::after { content: ''; top: 100%; left: 50%; border: solid transparent; height: 0; width: 0; position: absolute; pointer-events: none; border-color: transparent; border-top-color: #2a3035; border-width: 10px; margin-left: -10px; }

.tp-text { font-size: 0.68em; line-height: 1.35; display: block; padding: 1.31em 1.21em 1.21em 0; color: #fff; }
.tp-text { padding: 5px; font-size: 16px; text-align: center; }