@font-face {
	font-family: 'OpenSans-Regular';
	src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
	font-family: 'OpenSans-Light';
	src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
	font-family: 'Lato-Regular';
	src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
	font-family: 'Lato-Light';
	src: url(../fonts/Lato-Light.ttf);
}