::selection { background: #81D4FA; }
::-moz-selection { background: #81D4FA; }

html { -webkit-font-smoothing: antialiased; text-shadow: none; text-rendering: optimizeLegibility; }
body { margin: 0; padding: 0; padding-top: 70px; font-family: "Lato-Light"; cursor: default; background-color: #EEEEEE; }
header { margin: 0px; height: 70px; width: 100%; position: fixed; top: 0; left: 0; z-index: 9999; background: #383838; color: #eee; transition: all 0.2s; }
ul { padding: 0; margin: 0; font-size: 14px; list-style: none; border: none; }
a, a:hover { text-decoration: none; color: inherit; }

.header-container-fluid { padding-right: 90px; padding-left: 90px; margin-right: auto; margin-left: auto; }
.header-brand { font-family: 'Lato-Regular'; font-size: 24px; line-height: 70px; }
.header-links { text-align: right; line-height: 70px; }
.header-links>li { margin-right: 30px; float: right; }
.header-links>li>a { transition: all 0.2s; display: block; }
.header-links>li>a:hover { transition: all 0.2s; color: #9E9E9E; }
.header-bar { width: 100%; height: 1px; background: #fff; }

.hero { height: 650px; background: #383838; color: #eee; }
.hero-content { margin-bottom: 50px; height: 500px; }
.hero-scroll { margin: 0; color: #fff; text-align: center; font-size: 30px; }

.main-container-fluid { padding-right: 140px; padding-left: 140px; margin-right: auto; margin-left: auto; }
.main-content { height: 500px; background: #EEEEEE; color: #333; }
.main-bar { width: 85%; height: 1px; margin-top: 25px; margin-bottom: 25px; background: #333; margin-right: auto; margin-left: auto; }

.thumbnail { background: transparent; border: none; }
.thumbnail>h4 { text-align: center; font-size: 22px; }
.thumbnail>h5 { text-align: center; }

.footer-container-fluid { padding-right: 150px; padding-left: 150px; margin-right: auto; margin-left: auto; }
.footer { width: 100%; height: 175px; background: #383838; background-image: url('../img/congruent_outline_2.png'); }
.footer-icon { margin: 0; line-height: 100px; color: #fff; text-align: center; }
.footer-infos { font-size: 16px; text-align: center; color: #fff; }

.no-margin, .header-brand, .header-links { margin: 0; }
.spacer { width: 100%; height: 25px; }
.cur-d { cursor: default; }

.dark { transition: all 0.2s; color: #333; }
.twitter { color: #2196F3; }
.facebook { color: #3F51B5; }
.youtube { color: #F44336; }
.mail { color: #FF9800; }